@import "colors.css";
@import "navbar.css";

@media screen and (min-width:1600px) {
    body,
    .btn { font-size: 20px; }
}

@media screen and (min-width:751px) and (max-width:1599px) {
    body,
    .btn { font-size: 16px; }
}

@media screen and (max-width:750px) {
	body,
    .btn { font-size: 14px; }
}

.card {
    margin: 2%;
}