@import "colors.css";
@import "navbar.css";

@media screen and (min-width:1600px) {
    body,
    .btn { font-size: 20px; }
}

@media screen and (min-width:751px) and (max-width:1599px) {
    body,
    .btn { font-size: 16px; }
}

@media screen and (max-width:750px) {
	body,
    .btn { font-size: 14px; }
}

h1,
h2 {
    font-weight: bold;
}

.card {
    margin: 2%;
}

.section {
    margin: 6rem 0 3rem 0;
}

.footer {
    position: absolute;
    width: 100%;
    color: grey;
    padding: 2%;
}


.footer .fa {
    font-size: 2rem;
    color: grey;
    margin: 0 0 0 1rem;
}

.fa:hover {
    color: var(--accent1);
    text-decoration: none;
}