@import "colors.css";
@import "navbar.css";

@media screen and (min-width:1600px) {
    body,
    .btn,
    .tooltip { font-size: 20px; }
}

@media screen and (min-width:751px) and (max-width:1599px) {
    body,
    .btn,
    .tooltip { font-size: 16px; }
}

@media screen and (max-width:750px) {
	body,
    .btn,
    .tooltip { font-size: 14px; }
}

h1,
h2 {
    font-weight: bold;
}

.card {
    margin: 2%;
}

.section {
    margin: 6rem 0 3rem 0;
}

.footer {
    position: absolute;
    width: 100%;
    color: grey;
    padding: 2%;
}

a:hover {
    text-decoration: none;
}

#Contact .fa {
    font-size: 5rem;
    color: black;
    margin: 0 2rem 0 0;
}

.footer .fa {
    font-size: 2rem;
    color: grey;
    margin: 0 0 0 1rem;
}

.fa:hover,
#Contact .fa:hover {
    color: var(--accent1);
    text-decoration: none;
}

.accented {
    color: var(--accent1)
}

.btn {
    margin: 0.5rem 0;
}